.balance {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;

	&-body {
		text-align: center;
		background-color: $black;
		width: 100%;
		border-radius: 5px;
		padding: 2rem;
	}
	&-title {
		font-size: $font-sm;
		color: $green;
		margin: 0rem;
	}
	&-value {
		font-size: $font-xl;
		color: $white;
	}

	&-buttons {
		margin-top: 2rem;

		&-deposit {
			margin-right: 1rem;
		}

		.show-deposit {
			color: $white;
			background-color: $black;
		}

		.show-withdraw {
			color: $white;
			background-color: $black;
		}
	}

	&-form {
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		width: 100%;

		&-hint {
			font-size: $font-sm;
			color: $grey;
		}

		&-input {
			font-size: 1rem;
			margin-top: 1rem;
			padding: 0.5rem 1rem;
			border: 1px solid rgb(204, 204, 204);
			border-radius: 5px;
			outline-color: $green;
		}

		> button {
			margin-top: 1rem;
		}
	}
}
