.header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	&-logo {
		font-size: $font-large;
		font-weight: 700;
		color: $black;
		text-decoration: none;

		&:hover {
			color: $grey;
		}

		@include breakpoint-down(xsmall) {
			font-size: $font-normal;
		}
	}

	&-navlink {
		color: $black;

		&:hover {
			color: $grey;
		}
	}
}
