.header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	&-logo {
		font-size: $font-large;
		font-weight: 700;
		color: $black;
		text-decoration: none;
	}

	&-navlink {
		color: $grey;
	}
}
