// Colors
$green: #00ff7a;
$black: black;
$white: #ffffff;
$grey: rgb(98, 98, 98);

// Font Sizes
$font-sm: 0.8rem;
$font-normal: 1rem; // Body font size. If changed, all change.
$font-large: 1.5rem;
$font-xl: 2.5rem;

// Font Family
$font-family: 'Public Sans', sans-serif;
